/* Fuentes personalizadas para Rectángulo Films */

/* Gotham Font */
@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-BLACK.OTF') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-BOOK.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-LIGHT.OTF') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-MEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-THIN.OTF') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-ULTRALIGHT.OTF') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GOTHAM';
  src: url('/fonts/GOTHAM-XLIGHT.OTF') format('opentype');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

/* BBH Sans Bartle Font */
@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BBH_Sans_Bartle';
  src: url('/fonts/BBH_Sans_Bartle_Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}